<a href="https://colab.research.google.com/github/shilpadhiman06/EDA_project/blob/main/python_practice_questions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input("enter a number :"))
num2 = int(input("enter a number :"))
sum = num1 +num2
print(sum)

enter a number :76
enter a number :87
163

In [ ]:
num1 = float(input("enter a number :"))
squareroot = (num1)**(1/2)

print("the squareroot of given number is ", squareroot)

enter a number :49
the squareroot of given number is  7.0

In [ ]:
import math
num1 = int(input("enter a number :"))
sr = math.sqrt(num1)
print("the squareroot of the given number is :", sr)

enter a number :100
the squareroot of the given number is : 10.0

In [ ]:
#find the area of a triangle
height = float(input("enter the height :"))
base = float(input("enter the base :"))
area = (1/2)*base* height
print("the area of the triangle is :", area )

enter the height :32
enter the base :16
the area of the triangle is : 256.0

In [ ]:
#quadratic equation ax**2 + bx + c = 0
# a,b,c are real numbers
#a!=0

import cmath
a= int(input("enter a number (a!=0):"))
b = int(input("enter a number:"))
c = int(input("enter a number:"))
# formula for discriminant
d = (b**2)-(4*a*c)
root1 = (-b - cmath.sqrt(d))/(2*a)
root2 = (-b + cmath.sqrt(d))/(2*a)
print("the roots are :",root1 , root2)

enter a number (a!=0):2
enter a number:4
enter a number:9
the roots are : (-1-1.8708286933869707j) (-1+1.8708286933869707j)

In [ ]:
# program to swap two variables
a = 3
b= 4
temp = a
a= b
b = temp
print("the value of a :",a)
print("the value of b :",b)

the value of a : 4
the value of b : 3

In [ ]:
# program to swap two variables without using third variable
a = 13
b = 14
a,b = b,a
print(a)
print (b)

14
13

In [ ]:
# program to generate a random  number
import random
num = random.randint(0,10)
print(num)

0

In [ ]:
#program to convert kilometers to miles
#1km = 0.621371miles
km = float(input("enter the value in km :"))
miles = (0.621371)*km
print(km,"kms in miles will be ",miles ,"miles")

enter the value in km :78
78.0 kms in miles will be  48.466938 miles

In [ ]:
# convert celsius to  farenheit
#formula=(c*9/5) +32
celsius = int(input("enter temp in celsius:"))
farenheit = (celsius *9/5)+32
print("the temp in farenheit is:",farenheit)

enter temp in celsius:40
the temp in farenheit is: 104.0

In [ ]:
#check if a number is positive , negative or 0
num = int(input("enter the number:"))
if num>0:
  print("the number is positive ")
elif num<0:
  print("the number is negative")
else:
  print("the number is zero")

enter the number:0
the number is zero

In [ ]:
#check if a number is odd or even
num = int(input("enter the number:"))
if num%2==0:
  print("the given number is even")
else:
  print("the given number is odd")

enter the number:79
the given number is odd

In [ ]:
#program to check if a year is leap or not
year = int(input("enter the year:"))
if (year%400==0) and (year%100==0):
  print(year,"year is a leap year")
elif (year%4==0) and (year%100 !=0):
  print(year,"year is a leap year")
else:
  print("not a leap year")

enter the year:1997
not a leap year

In [ ]:
#find largest among 3 numbers
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
num3 = int(input("enter the third number"))
if num1>num2 and num1 >num3:
  print(num1 ,"is the largest number.")
elif num2>num3 and num2>num1:
  print(num2,"is the largest number.")
else:
  print(num3,"is the largest number")

enter the first number12
enter the second number18
enter the third number98
98 is the largest number

In [ ]:
#to check prime number
num = int(input("enter the number"))
if num ==1:
  print(num,"is not a prime number")
if num >1:
  for i in range(2,num):
    if num%i==0 :
      print(num," is not a prime number")
      break
else:
    print(num," is a prime number")

enter the number11

In [ ]:
num = int(input("Enter the number: "))

if num <= 1:
    print(num, "is not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

Enter the number: 9
9 is not a prime number

In [ ]:
#print all prime numbers in an interval

In [ ]:
import numpy as np

# Define vectors a and b with magnitudes
a = np.random.rand(3) * 5  # Random unit vector scaled by magnitude 5
b = np.random.rand(3) * 13  # Random unit vector scaled by magnitude 13

# Calculate the cross product
cross_product = np.cross(a, b)

# Calculate the magnitude of the cross product (already given)
magnitude_cross_product = 25

# Check for potential sign ambiguity due to handedness (clockwise vs. counter-clockwise)
# Here, we can assume either positive or negative value for a.b and verify later
a_dot_b = np.dot(a, b)

# Verify the sign based on the magnitude of the cross product
if np.linalg.norm(cross_product) == magnitude_cross_product:
    result = a_dot_b
else:
    result = -a_dot_b

# Print the possible values for a.b (considering both signs)
print("Possible values for a.b:", result, -result)

Possible values for a.b: -79.57572187509115 79.57572187509115

In [ ]:
def find_data(arr, target):
    if len(arr) == 0:
        return False
    elif arr[0] == target:
        return True
    else:
        return find_data(arr[1:], target)

arr = [1, 2, 3, 4, 5]
target = 3
print(find_data(arr, target))

True

In [ ]:
def subsequences(arr, index, ans):
    if index == len(arr):
        print(ans)
        return
    subsequences(arr, index + 1, ans)
    subsequences(arr, index + 1, ans + str(arr[index]))

subsequences([1, 2, 3], 0, "")

3
2
23
1
13
12
123

In [ ]:
import re

match = re.search(r'\bcat\b', 'The cat sat on the mat.')
if match:
    print(match.group())

cat

In [ ]:
string = "hello world"
new_string = ""

for i in range(len(string)):
    if i % 2 == 0:
        new_string += string[i]

print(new_string)

hlowrd

In [ ]:
arr = [1, 2, 3, 4, 5]
i = 3
if arr[i] < 5:
    print("Less than 5")
else:
    print("Greater than or equal to 5")

Less than 5

In [ ]:
string = "Hello world"
if "hello" in string.lower():
    print("Substring found")
else:
    print("Substring not found")

Substring found

In [ ]:
string = "hello world"
new_string = string.replace("o", "0")
print(new_string)

hell0 w0rld

In [ ]:
def reverse_array(arr):
    if len(arr) == 0:
        return []
    else:
        return [arr[-1]] + reverse_array(arr[:-1])

print(reverse_array([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [ ]:
def find_data(arr, target, i=0):
    if i == len(arr):
        return False
    elif arr[i] == target:
        return True
    else:
        return find_data(arr, target, i+1)

arr = [1, 2, 3, 4, 5]
target = 3
print(find_data(arr, target))

True

In [ ]:
def find_data(arr, target):
    if len(arr) == 0:
        return False
    elif arr[-1] == target:
        return True
    else:
        return find_data(arr[:-1], target)

arr = [1, 2, 3, 4, 5]
target = 3
print(find_data(arr, target))

True

In [ ]:
def power(base, exponent):
    result = 1
    for i in range(exponent):
        result *= base
    return result

print(power(2, 4))

16

In [ ]:
import re

text = "The quick brown fox jumps over the lazy dog."
result = re.findall("fox|dog", text)
print(result)

['fox', 'dog']

In [ ]:
string = "Hello, world"
index = string.find(",")

if index != -1:
    new_string = string[:index] + "!"
    print(new_string)
else:
    print(string)

Hello!

In [ ]:

re.sub(r'\s+', '-', 'Hello World')

'Hello-World'

In [ ]:
import datetime

today = datetime.date.today()
print(today.year)

2024

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})
print(df.mean())

A    2.5
B    6.5
dtype: float64

In [ ]:
import re

text = "The quick brown fox jumps over the lazy dog."
result = re.findall("fox|dog", text)
print(result)

['fox', 'dog']

In [ ]:
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
new_arr = arr[0:2, 1:]
print(new_arr)

[[2 3]
 [5 6]]

In [ ]:
re.search(r'\bcat\b', 'The cat sat on the mat.')

In [ ]:
re.findall(r'(?<=\d)[a-z]+(?=\d)', '1a2b3c4d5e6f7g8h9i0j')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
import re

text = "The quick brown fox jumps over the lazy dog."
result = re.search("fox", text)
print(result.group())

fox

In [ ]:
def find_max(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], find_max(arr[1:]))

print(find_max([1, 5, 3, 8, 2]))

8

In [ ]:
arr = [1, 2, 3, 4, 5]
new_arr = []

for i in range(len(arr)):
    if i % 2 == 0:
        new_arr.append(arr[i])

print(new_arr)

[1, 3, 5]

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
new_arr = arr[::2, ::-1]
print(new_arr)

[[3 2 1]
 [9 8 7]]

In [ ]:
re.findall(r'\d+', 'Hello 123 World 456')

['123', '456']

In [ ]:
def display_reversed(arr, index):
    if index >= 0:
        print(arr[index], end=" ")
        display_reversed(arr, index - 1)

arr = [1, 2, 3, 4, 5]
display_reversed(arr, len(arr) - 1)

5 4 3 2 1

In [ ]:
def reverse_array(arr):
    if len(arr) == 0:
        return []
    else:
        return [arr[-1]] + reverse_array(arr[:-1])

print(reverse_array([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [ ]:
#What is the output of the following Python code?

def find_data(arr, target, start, end):
    if start > end:
        return False
    else:
        mid = (start + end) // 2
        if arr[mid] == target:
            return True
        elif arr[mid] < target:
            return find_data(arr, target, mid + 1, end)
        else:
            return find_data(arr, target, start, mid - 1)

arr = [1, 2, 3, 4, 5]
target = 3
print(find_data(arr, target, 0, len(arr) - 1))

True

In [ ]:
arr = array.array('i', [1, 2, 3])
print(arr[0])

NameError: name 'array' is not defined

In [ ]:
str = input("enter a string:")
print("string is ", str)
count={}
for x in str:
  if x in count.keys():
    count[x]+=1
  else:
    count[x]=1


print(count)

enter a string:google.com
string is  google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
def cube(x):
  result=x**3
  return result
cube(3)

27

In [ ]:
num = (input())
sum = 0
for i in num:
  sum +=int(i)**3
if sum == num:
    print(num,"is an armstrong number.")
else:
    print(num,"is not an armstrong number.")

153
153 is not an armstrong number.

In [ ]:
num = (input())
sum = 0
for i in num:
  sum +=int(i)**3
  print(sum)

153
1
126
153

In [ ]:
dict={}
dict[1]= 1
dict['1'] = 2
dict[1]+=1
sum=0
for k in dict:
  sum+=dict[k]
  print(sum)

2
4

In [ ]:
count=1
def dothis():
  global count
  for i in (1,2,3):
    count+=1
dothis()
print(count)

4

In [ ]:
all([2,4,0,6])

False

In [ ]:
pow(x,y,z)

NameError: name 'x' is not defined

In [ ]:
__x=3

In [ ]:
_xyz_=3

In [ ]:
r = lambda q:q*2
s=lambda q : q*3
x=2
x=r(x)
x=s(x)
x=r(x)
print(x)

24

In [ ]:
def addtolist(listcontainer):
  listcontainer+=[10]
mylistcontainer=[10,20,30,40]
addtolist(mylistcontainer)
print(len(mylistcontainer))

5

In [ ]:
class acc:
    def __init__(self,id):
      self.id = id
      id=555
Acc=acc(111)
print(Acc.id)

111

In [ ]:
class Acc:
    def __init__(self, id):
        self.id = id
        id = 555

Acc = Acc(111)
print(Acc.id)

111

In [ ]:
num = int(input())
sum=0
order=len(str(num))
copy_num = num
while(num>0):
    digit = num%10
    sum+=digit**order
    num=num//10
if sum==copy_num:
    print(copy_num,"is an armstrong number.")
else:
    print(copy_num,"is not an armstrong number.")

0
0 is an armstrong number.

In [ ]:
def Totalharmonic(k):
  if k<2:
    return 1
  else:
    return 1/k+(Totalharmonic(k-1))
print(Totalharmonic(14))
print(Totalharmonic(7)) #2.5928571428571425

3.251562326562327
2.5928571428571425

In [ ]:
n = int(input())
def Totalharmonic(n):
  if n<2:
    return 1
  else:
    return 1/n+(Totalharmonic(n-1))
print(Totalharmonic(n))

7
2.5928571428571425

In [ ]:
number = int(input())

# Finding sum
total_sum = 0
step = 1

condition = True

while condition:

    while number:
        total_sum += number%10
        number //= 10

    print("Step-%d Sum: %d" %(step, total_sum))
    number = total_sum
    total_sum = 0
    step += 1
    condition = number > 9

7548
Step-1 Sum: 24
Step-2 Sum: 6

In [ ]:
#mingle to single program
num = int(input("enter the number:"))
sum= 0
while num >0 or sum>=10:
  if num==0:
    print("step1 sum is ",sum)
    num=sum
    sum=0
  sum+=num%10
  num//=10
print(sum)

enter the number:6857856
step1 sum is  45
9

In [ ]:
num1=int(input("enter the number:"))
if num1%9==0:
  print(9)
else:
  print(num1%9)

enter the number:21434135
5

In [ ]:
print((num1-1)%9+1)

5

In [ ]:

def isprime(num):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                print(num, "is not a prime number")
                break
        else:
            print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

isprime(6)

6 is not a prime number

In [ ]:
def test(strs):
    return " ".join(strs for strs in strs.split() if is_prime(len(strs)))
def is_prime(n):
    return n > 1 and all(n % j for j in range(2, int(n ** 0.5) + 1))
strs = input()
print(test(strs))

The quick brown fox jumps over the lazy dog.
The quick brown fox jumps the

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_factors(num):
    factors = []
    for i in range(2, num // 2 + 1):
        if is_prime(i) and num % i == 0:
            factors.append(i)
    return factors

def three_prime_products(n):
    result = []
    for i in range(2, n + 1):
        if len(prime_factors(i)) == 3:
            result.append(prime_factors(i))
    return result

n = int(input("Enter a value for n: "))
print("From 1 to {}, the numbers that are the product of exactly three primes are:".format(n))
print(three_prime_products(n))

Enter a value for n: 10
From 1 to 10, the numbers that are the product of exactly three primes are:
[]

In [ ]:
#prime number in an interval
for num in range(2,101):
  if num>1:
    for i in range(2,num-1):
      if num%i==0:
        break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#to find the factorial of a number by for loop
num=int(input("enter the num :"))
factorial=1
if num<0:
  print("factorial of 0 does not exist")
if num ==0 :
  print("factorial of 0 is",1)
if num>0:
 for i in range(1,num+1):
  factorial*=i
print("the factorial of the given number is",factorial)

enter the num :7
the factorial of the given number is 5040

In [ ]:
#find factorial by recursion
def fact(a):
  if a==0 or a==1:
    return 1
  else:
    return ((a) * fact(a-1))
num=int(input("enter the num :"))
result = fact(num)
print("the factorial of the given number is",result)

enter the num :9
the factorial of the given number is 362880

In [ ]:
#to display multiplication table using for loop
n=int(input("enter the number:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the number:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
#to display multiplication table using while loop
n=int(input("enter the number:"))
i=1
while i<=10:
  print(n,"*",i,"=",n*i)
  i+=1

enter the number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
#fibonacci sequence
n=int(input("enter the number:"))
a=0
b=1
if n==1:
  print(a)
else:
  print(a)
  print(b)
  for i in range(2,n+1):
   c=a+b
   a=b
   b=c
   print(c)

enter the number:7
0
1
1
2
3
5
8
13

In [ ]:
#fibonacci sequence using recursion
def fibo(n):
  if n<=1:
    return n
  else:
    for i in range(2,n+1):
      return fibo(n-1) + fibo(n-2)
fibo(9)

34

In [ ]:
#armstrong number for 3 digit number
num = int(input("enter the number:"))
sum = 0
temp = num
while temp>0:
 digit = temp%10 #to get the last digit of the number for example in 153 the last digit is 3
 cube = digit**3  # 3**3
 sum = sum + cube #0+27
 temp//=10 #to get the 2nd number after divinding with 10 we will get 15 by floor divison,remove the last digit
if sum==num:
  print("it is an armstrong number")
else:
  print("it is not an armstrong number")

enter the number:27
it is not an armstrong number

In [ ]:
# n order armstrong number
num = int(input("enter the number:"))
order = len(str(num)) # for any order
sum = 0
temp = num
while temp>0:
 digit = temp%10 #to get the last digit of the number for example in 153 the last digit is 3
 cube = digit**order  # cube or any power
 sum = sum + cube #0+27
 temp//=10 #to get the 2nd number after divinding with 10 we will get 15 by floor divison,remove the last digit
if sum==num:
  print("it is an armstrong number")
else:
  print("it is not an armstrong number")

enter the number:9474
it is an armstrong number

In [ ]:
#to find armstrong number in an interval
#num = int(input("enter the number:"))
lower = int(input("enter the lower number:"))
upper = int(input("enter the upper number:"))

for num in range(lower,upper+1):
  order = len(str(num))
  sum = 0
  temp = num
  while temp>0:
    digit = temp%10
    sum += digit ** order
    temp//=10
  if sum==num:
    print(num)

enter the lower number:100
enter the upper number:10000
153
370
371
407
1634
8208
9474

In [ ]:
"""Get Murphy Registered for Doga

Murphy, a famous sporty dog of the locality wants to get registered in Doga (Dog+Yoga).

Doga (Dog + Yoga) is a trend that has emerged in the United States and is an excellent choice to get some exercise for you in the company of your pet dogs while improving their welfare in a healthy and fun way.

For registration, it is required to write the age of Murphy in Dog's years.

Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

Thus, write a Python program to calculate a dog's age in dog's years from the human years as input."""
human_age = int(input("Enter the age in years: "))

if human_age <= 2:
    dog_age = 10.5 * human_age
else:
    dog_age = 21 + (human_age - 2) * 4

print("Murphy's age in dog years:", dog_age)

Enter the age in years: 8
Murphy's age in dog years: 45

In [ ]:
"""Sammy has a English Language test tomorrow in which the teacher would be asking about Vowels and Consonants.
So, help Sammy in practicing for the test by writing a Python program to check whether an alphabet is a Vowel or Consonant."""
alphabet = input("enter the alphabet")
if alphabet.lower() in "aeiou": # It converts the input alphabet to lowercase using the lower() method before checking for vowels, allowing it to handle both uppercase and lowercase input.
  print("alphabet is a vowel")
else:
  print("alphabet is not a vowel")

enter the alphabetA
alphabet is a vowel

In [ ]:
#Write a Python program to print the following pattern of numbers in n rows to display on art board in maths exhibition.
n = int(input("enter the number:"))
for i in range(1,n+1):
  print(str(i)*i)

enter the number:3
1
22
333

In [ ]:
"""Reschedule the meeting to next date

Write a Python Program for Mr. Harry to automatically reschedule a meeting to the next date whenever it is not held on the current date.

Sample

Input a year: 1974
Input a month [1-12]: 2
Input a day [1-31]: 15
The next date is [yyyy-mm-dd] 1974-2-16."""
year = int(input())
month = int(input())
day = int(input())
print("The currect date is [yyyy-mm-dd] %d-%d-%d."%(year,month,day))
if (year % 400 == 0):
  leap_year = True
elif (year % 100 == 0):
  leap_year = False
elif (year % 4 == 0):
  leap_year = True
else:
  leap_year = False


if month in (1, 3, 5, 7, 8, 10, 12):
  month_length = 31
elif month == 2:
  if leap_year:
    month_length = 29
  else:
    month_length = 28
else:
  month_length = 30

if day < month_length:
  day += 1
else:
  day = 1
  if month == 12:
    month = 1
    year += 1
  else:
    month += 1

print ("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

1999
6
6
The currect date is [yyyy-mm-dd] 1999-6-6.
The next date is [yyyy-mm-dd] 1999-6-7.

In [38]:
"""Let's Begin with Basic Statistics

In Statistics, Mean (average) is a common term used to analyze the data.
Thus, we should know how to program this Statistical term using Python.
For this, write a Python program to calculate the sum and average (Mean) of n integer numbers (input from the user).
Input 0 to finish the list."""
count = 0
sum = 0.0
number = 1

while number != 0:
        number = int(input())
        sum = sum + number
        count += 1

if count == 0:
        print("Input some numbers")
else:
        print("Average and Sum of the above numbers are:", sum / (count-1), sum)

9
8
8
0
Average and Sum of the above numbers are: 8.333333333333334 25.0

In [65]:
#Write a Python program to calculate Euclidean Distance.
x_1, y_1 = 6, 7
x_2, y_2 = 5, 4
Eucli_dist = ((x_2-x_1)**2 + (y_2-y_1)**2)**(0.5)
print(f"The Euclidean Distance between the above given two points 'PQ' = {Eucli_dist}")

The Euclidean Distance between the above given two points 'PQ' = 3.1622776601683795

In [45]:
#Write a Python program to find common items from two lists.
color1 = eval(input())
color2 = eval(input())
s1 = set(color1)
s2 = set(color2)
print(s1 & s2)

["Red", "Green", "Orange", "White"]
["Black", "Green", "White", "Pink"]
{'White', 'Green'}

In [52]:
#Write a Python program to check whether a String is Palindrome or not?
str = input("enter the str:")
str1 = str[::-1]
if str == str1:
  print("string is a palindrome")
else:
  print("string is not a palindrome")

enter the str:madam
string is a palindrome

In [54]:
#Write a python program to find the last position of a given substring.
str = input("enter the str:")
substr = input("enter the substr:")
index = str.rfind(substr)
print("Last occurrence of", substr, "starts at index", index)

enter the str:Shilpa Dhiman is a data analyst .Shilpa is working very hard and earning well.
enter the substr:Shilpa
Last occurrence of Shilpa starts at index 33

In [61]:
"""Remove char. from string

Write a python program to remove a given character from string."""
str = input("enter the str:").lower()
char = input("enter the str:").lower()

new_str = str.replace(char,' ')
print(new_str)

enter the str:almabetter
enter the str:t
almabe  er